@import 'variables';

nav {
  padding: 10px;
  height: 50px;

  display: flex;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  flex-direction: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;

  align-items: center;
  border-bottom: 2px solid $grey_light_border;
  background: #ffffff;

  div {
    height: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    font-size: 42px;
    font-weight: 700;

    p {
      padding-left: 20px;
    }
  }

  button {
    background-color: $slack_green;
    color: #ffffff;
    padding: 12px 14px;
    border-radius: 5px;
    margin-right: 20px;
  }
}

.auth {
  padding-top: 30px;
  height: 100%;

  img {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 500px;
    width: 500px;
    margin: 0, 0, auto, 0;
    z-index: -1;

  }
}

.auth-form {
  width: 650px;
  margin: 0px auto;
  background: #ffffff;
}

.auth .alert {
  padding: .75rem 1rem .75rem 3rem;
  border: 1px solid $grey_light_border;
  background: #ffffff;
  color: $font_color;
  border-left-width: 5px;
  margin: 0 auto 1rem;
  border-radius: .25rem;
  border-left-color: $alert_red;
  font-size: 16px;
  font-weight: 300;
}

.auth form {
  background-color: #ffffff;
  border: 1px solid $grey_light_border;
  border-radius:5px;
  box-shadow:0px 1px 0px 0px rgba(0,0,0,.25);
  text-align: center;
  color: $font_color;
  padding: 30px;
  font-size: 18px;

  h1 {
    font-size: 34px;
    font-weight: 500;
    margin: 15px;
  }

  p {
    font-size: 16px;
    font-weight: 300;
    margin: 15px;
  }

  input, button {
    border-radius: 5px;
    width: 360px;
    margin: 5px;
    padding: 12px;
  }

  input {
    border: 2px solid #c5c5c5;
    font-color: $font_color;
    font-weight: 300;
    text-align: left;
  }

  input:hover, input:focus, {
    border-color: $blue_highlight;
  }

  button {
    margin-top: 10px;
    background-color: $slack_green;
    color: #ffffff;
  }

  button:hover {
    box-shadow: 0px 1px 0px 1px $dark_green;
  }

}
