#messenger {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: calc(100% - 220px);

  position: absolute;
  margin-left: $sidebar_size;
  $messenger_margin: 16px;

  #main {
    height: calc(100% - 80px);
    display: flex;
    flex-direction: row;

    #left-panel {
      flex: 2;
      display: flex;
      flex-direction: column;

      .scroll {
        height: 100%;
        overflow-y: auto;

        #feed {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          margin-bottom: $messenger_margin;

          .message {
            padding: $messenger_margin;
            // flex-shrink: 0;
            width: 100%;
            display: flex;
            flex-direction: row;

            &:hover {
              background: $message_hover_grey;
            }

            .message-avatar {

              img {
                border-radius: $avatar_img_border_radius;
                height: $avatar_img_border_width;
                width: $avatar_img_border_height;
              }
            }

            .message-content {
              flex: 1;
              display: flex;
              flex-direction: column;
              margin-left: 8px;

              .message-info {
                line-height: 21px;

                .message-username {
                  font-size: 18px;
                  font-weight: 700;
                  vertical-align: baseline;
                }

                .message-date {
                  font-size: 12px;
                  font-weight: 500;
                  padding-left: 5px;
                  vertical-align: baseline;
                }
              }

              .message-text {
                width: 100%;
                overflow-wrap: break-word;
                word-wrap: break-all;
                word-break: break-all;
              }
            }
          }
        }
      }

      #user-input {
        width: 100%;

        input {
          width: calc(100% - #{2 * $messenger_margin});
          border: 2px solid #c5c5c5;
          bottom: 15px;
          background-color: #ffffff;
          border-radius: 5px;
          padding: 8px;
          margin: 0 $messenger_margin $messenger_margin $messenger_margin;
        }
      }
    } // End of left panel

    #right-panel {
      flex: 1;
      display: flex;
      flex-direction: column;
      border-left: 2px $grey_light_border solid;

      #channel-about {
        border-bottom: 2px $grey_light_border solid;
        background-color: #F7F7F7;
        padding: 24px 16px;
        font-size: 20px;
        font-weight: 500;
      }

      #channel-info, #channel-members {
        padding: 24px 16px;

        .title {
          font-size: 20px;
          padding-bottom: 10px;

          .fa {
            padding-right: 10px;
          }
        }
      }

      #channel-info {
        border-bottom: 2px $grey_light_border solid;

        .fa {
          color: #2D9CF5;
        }

        h5 {
          font-size: 14px;
          font-weight: 400;
          padding-bottom: 20px;
        }

        p {
          font-size: 16px;
          font-weight: 400;
          padding-bottom: 16px;
        }

        h4 {
          font-size: 15px;
          font-style: italic;
          padding-bottom: 16px
        }
      }

      #channel-members {
        .fa {
          color: #A2D7AD;
        }

        .member {
          padding: 10px;
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;

          img {
            height: 20px;
            width: 20px;
            border-radius: 3px;
            margin-right: 10px;
          }
        }
      }

    }
  }

}

