#messenger {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;

  -moz-box-direction: column;
  -webkit-box-direction: column;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flexbox-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  // align-items: flex-end;
  // -webkit-box-align: flex-end;
  // -webkit-align-items: flex-end;
  // -moz-box-align: flex-end;
  // -ms-flex-align: flex-end;
  // -webkit-justify-content: flex-end;

  height: 100%;
  width: calc(100% - 220px);

  position: absolute;
  margin-left: $sidebar_size;
  $messenger_margin: 16px;

  #main {
    height: calc(100% - 80px);

    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

    flex-direction: row;

    #left-panel {
      height: 100%;

      -webkit-flex: 2; /* Safari 6.1+ */
      -ms-flex: 2; /* IE 10 */
      flex: 2;

      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-box;
      display: -webkit-flex;
      flex-direction: column;
      display: flex;

      -moz-box-direction: column;
      -webkit-box-direction: column;
      -webkit-box-orient: vertical;
      -webkit-flex-direction: column;
      -ms-flexbox-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;

      .scroll {
        // height: 100%;
        // position:relative;
        height: inherit;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        // height: 500px;

        #feed {
          width: 100%;

          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-box;
          display: -webkit-flex;
          flex-direction: column;
          display: flex;

          -moz-box-direction: column;
          -webkit-box-direction: column;
          -webkit-box-orient: vertical;
          -webkit-flex-direction: column;
          -ms-flexbox-direction: column;
          -ms-flex-direction: column;
          flex-direction: column;

          // align-items: flex-end;
          // -webkit-box-align: flex-end;
          // -webkit-align-items: flex-end;
          // -moz-box-align: flex-end;
          // -ms-flex-align: flex-end;
          // -webkit-justify-content: flex-end;

          margin-bottom: $messenger_margin;

          .message {
            padding: 8px 16px;
            width: 100%;

            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;

            flex-direction: row;

            &:hover {
              background: $message_hover_grey;
            }

            .message-avatar {

              img {
                border-radius: $avatar_img_border_radius;
                height: $avatar_img_border_width;
                width: $avatar_img_border_height;
              }
            }

            .message-content {
              -webkit-flex: 1; /* Safari 6.1+ */
              -ms-flex: 1; /* IE 10 */
              flex: 1;

              display: -moz-box;
              display: -ms-flexbox;
              display: -webkit-box;
              display: -webkit-flex;
              flex-direction: column;
              display: flex;

              -moz-box-direction: column;
              -webkit-box-direction: column;
              -webkit-box-orient: vertical;
              -webkit-flex-direction: column;
              -ms-flexbox-direction: column;
              -ms-flex-direction: column;
              flex-direction: column;

              margin-left: 8px;

              .message-info {
                line-height: 21px;

                .message-username {
                  font-size: 18px;
                  font-weight: 700;
                  vertical-align: baseline;
                }

                .message-date {
                  font-size: 12px;
                  font-weight: 500;
                  padding-left: 5px;
                  vertical-align: baseline;
                }
              }

              .message-text {
                display: inline-block;
                width: 100%;
                overflow-wrap: break-word;
                word-wrap: break-word;
                -ms-word-break: break-all;
                /* This is the dangerous one in WebKit, as it breaks things wherever */
                word-break: break-all;
                /* Instead use this non-standard one: */
                word-break: break-word;
                /* Adds a hyphen where the word breaks, if supported (No Blink) */
                -ms-hyphens: auto;
                -moz-hyphens: auto;
                -webkit-hyphens: auto;
                hyphens: auto;
              }

              .reaction-bar ul {
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-box;
                display: -webkit-flex;
                display: flex;

                padding: 7px 0px;

                .reaction {
                  font-size: 12px;
                  color: $font_color;
                  border: 1px  solid $grey_light_border;
                  border-radius: 4px;
                  display: flex;
                  align-items: center;
                  padding: 4px;

                  .twemoji {
                    padding-right: 4px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                  }

                  &:hover {
                    border: 1px  solid $blue_highlight;
                    cursor: pointer;
                  }

                  img {
                    height: 15px;
                    width: 15px;
                    padding: 0px;
                    margin: 0px;
                  }
                }
              }
            }
          }
        }
      }

      #user-input {
        width: 100%;

        input {
          width: calc(100% - #{2 * $messenger_margin});
          border: 2px solid #c5c5c5;
          bottom: 15px;
          background-color: #ffffff;
          border-radius: 5px;
          padding: 8px;
          margin: 0 $messenger_margin $messenger_margin $messenger_margin;
        }
      }
    } // End of left panel

    #right-panel {
      -webkit-flex: 1; /* Safari 6.1+ */
      -ms-flex: 1; /* IE 10 */
      flex: 1;

      flex-direction: column;
      border-left: 2px $grey_light_border solid;
      height: 100%;
      overflow-y: scroll;
      display: flex;

      #channel-about {
        border-bottom: 2px $grey_light_border solid;
        background-color: #F7F7F7;
        padding: 24px 16px;
        font-size: 20px;
        font-weight: 500;
      }

      #channel-info, #channel-members {
        padding: 24px 16px;

        .title {
          font-size: 20px;
          padding-bottom: 10px;

          .fa {
            padding-right: 10px;
          }
        }
      }

      #channel-info {
        border-bottom: 2px $grey_light_border solid;

        .fa {
          color: #2D9CF5;
        }

        h5 {
          font-size: 14px;
          font-weight: 400;
          padding-bottom: 20px;
        }

        p {
          font-size: 16px;
          font-weight: 400;
          padding-bottom: 16px;
        }

        h4 {
          font-size: 15px;
          font-style: italic;
          padding-bottom: 16px
        }
      }

      #channel-members {
        .fa {
          color: #A2D7AD;
        }

        .member {
          padding: 10px;
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;

          img {
            height: 20px;
            width: 20px;
            border-radius: 3px;
            margin-right: 10px;
          }
        }
      }

    }
  }

}

