html, body, div, main, header, footer,
a, ul, li, img, section, article, aside, button,
h1, h2, h3, h4, h5, p, input {
  margin: 0;
  border: 0;
  outline: 0;
  padding: 0;

  text-decoration: inherit;
  box-sizing: inherit;
  vertical-align: inherit;
  text-align: inherit;
  color: inherit;
  font: inherit;

  /*height: inherit;
  width: inherit;*/

  background: transparent;
  webkit-font-smoothing: inherit;
}

html {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body {
  box-sizing: border-box;
  overflow: hidden;
  font-family: sans-serif;
  background-color: #f9f9f9;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.0725px;
  webkit-font-smoothing: antialiased;
}

button {
  cursor: pointer;
}
/*
html {
  height: 100%;
  width: 100%;
}*/
