@import 'variables';

#sidebar {
  background: $slack_purple;
  color: $menu_light_grey;
  width: $sidebar_size;
  height: 100%;

  display: flex;
  flex-direction: column;
  display: block;
  position: absolute;

  .sidebar-item {
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;

    &:hover {
      background: $slack_dark_purple;
    }
  }

  #user {
    padding-top: 9px;
    padding-bottom: 9px;

    h2 {
      color: #ffffff;
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
    }

    #username {
      font-size: 14px;
      color: #9b9399;
      line-height: 21px;
    }
  }

  #channels {

    // #groups, #direct-messages {

    //   img #new-group-button {
    //     width: 15px;
    //     height: 15px;
    //   }
    // }

    .channel, .title {
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .fa {
        font-size: 12px;
        padding-right: 5px;
      }

      img {
        opacity: 0.5;
        width: 15px;
        height: 15px;
      }
    }

    .title {
      text-transform: uppercase;

      // Join and create new direct message buttons
      img {
        // opacity: 0.5;

        &:hover {
          opacity: 0.9;
        }
      }
    }

    // Remove channel images;
    .channel {
      img {
        display: none;

        &:hover {
          opacity: 0.9;
        }
      }

      &:hover {
        img {
          display: inline-block;
        }
      }
    }

    .selected {
      background-color: $dark_green;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      color: #ffffff;
      pointer-events: none;
    }

    #groups, #direct-messages {
      padding-bottom: 20px;
    }

  }
}

