@import 'variables';

#header {
  flex: 1;
  padding: 20px 14px 14px 14px;
  border-bottom: 2px $grey_light_border solid;

  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;

  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  height: 80px;

  .channel-name {
    color: $font_color;
    font-size: 18px;
    font-style: italic;
    font-weight: 700;
    padding-bottom: 10px;
  }

  .items {
    font-size: 14px;
    line-height: 16px;
    vertical-align: middle;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;

    .item {
      padding: 0px 8px;
      border-right: 1px solid $grey_light_border;
    }

    .star {
      cursor: pointer;

      .fa-star {
        color: #ee9c00;
      }

      &:hover {
        color:  #ee9c00;
      }
    }

    .members {
      cursor: pointer;

      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;

      .fa {
        font-size: 12px;
        line-height: inherit;
        margin-right: 8px;
      }
      &:hover {
        color: $blue_highlight;
      }
    }
  }

  img {
    margin-top: 6px;
    padding-right:15px;
    cursor: pointer;
    height: 25px;
  }
}
