$sidebar_size: 220px;

$slack_green: #2ab27b;
// $slack_purple: #AB9BA9;
$slack_purple: #4D394B;
$menu_light_grey: #9b9399;
$slack_dark_purple: #3E313C;
$dark_green: #259E6F;
$font_color: #555459;
$grey_light_border: #E8E8E8;
$alert_red: #CB5234;
$message_hover_grey: #F9F9F9;

$avatar_img_border_radius: 5px;
$avatar_img_border_height: 45px;
$avatar_img_border_width: 45px;

$blue_highlight: #2780f8;
$yellow_like_star: #DEDE67;
$light_blue_hover: #EFF6FE;
